<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-md-8 mx-auto">
                <h1 class="fw-light">Ejemplo de Album</h1>
                    <p class="lead text-muted">
                        Aqui va la descripcion de lo que queremos mostrar mas abajo
                    </p>
                <p>
                   <a href="#" class="btn btn-primary my-2">Accion Principal</a> 
                   <a href="#" class="btn btn-secondary my-2">Accion secundaria</a>
                </p>
            </div>
        </div>
    </section>
    
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                         [src]="
                         'https://tiendapanini.com.mx/media/catalog/product/q/s/qswmd003_1200.jpg'
                         " 
                         alt="Star Wars: The Mandalorian Season II Vol.01"
                         />
                         <div class="card-body">
                            <p class="card-text">Esta tarjeta permite que se agregue texto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                    >
                                    View
                                    </button>
                                    <button 
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >
                                    Edit
                                    </button>
                                </div>
                            </div>
                            <small class="text-muted">9 mins</small>
                         </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                        [src]="
                        'https://tiendapanini.com.mx/media/catalog/product/q/d/qddro001_1200.jpg'
                        " 
                        alt="Star Wars:Dark Droids"
                        />
                        <div class="card-body">
                            <p class="card-text">Esta tarjeta permite que se agregue texto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                    >
                                    View
                                    </button>
                                    <button 
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >
                                    Edit
                                    </button>
                                </div>
                            </div>
                            <small class="text-muted">9 mins</small>
                         </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                        [src]="
                        'https://tiendapanini.com.mx/media/catalog/product/q/b/qboun007_1200.jpg'
                        " 
                        alt="Star Wars:bountry Hunters Vol.07"
                        >
                        <div class="card-body">
                            <p class="card-text">Esta tarjeta permite que se agregue texto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button
                                     type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >
                                    View
                                    </button>
                                    <button 
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >
                                    Edit
                                    </button>
                                </div>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>