<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" >
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Header sencillo</span>
        </a>
        <ul class="nav nav-pill">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">Inicio</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Opcion 1</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Opcion 2</a></li>
            <li class="nav-item">
                <a href="#" class="nav-link">Preguntas Frecuentes</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Acerca de</a></li>
        </ul>

    </header>
</div>
